<div ng-controller="StremeSelectCtrl">
  <!-- TODO: This input should fit default text properly -->
  <input type="text" ng-model="currentStreme.name" />
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-primary dropdown-toggle"
            ng-disabled="disabled">Select</button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="open('linkstreme')">Linkstreme ...</a></li>
      <li><a ng-click="open('bookmarks')">Bookmarks ...</a></li>
      <li><a ng-click="open('history')">History ...</a></li>
      <!-- TODO: Add functionality to list recently closed tabs
           May want to mirror this functionality in collect to allow
           adding links from closed tabs. May want to merge with History. -->
      <li><a ng-click="console.log('recent')">Recent ...</a></li>
    </ul>
  </div>
</div>
