<div>
  <!-- TODO: This should be split button dropdown with more opts -->
  <button type="button" class="btn btn-primary"
          ng-click="saveStreme()">Save Streme</button>
  <button type="button" class="btn btn-default"
          ng-click="undoCloseTab()">Undo Tab Close</button>
  <button type="button" class="btn btn-default"
          ng-click="resetDatabase()">Reset Database</button>

  <br /><span ng-repeat="link_id in currentStreme.links">
    {{ link_id + ' : ' }}
  </span>
  <br /><input type="text" ng-model="currentStreme"></input>

  <accordion>
    <div ng-repeat="tab in activeTabs">
      <accordion-group is-open="tab.active" ng-class="{ changed: tab.changed }" >
        <accordion-heading>
          <div class="tab-controls">
            <i class="glyphicon" ng-click="toggleTab(tab, $event);"
               ng-class="{'glyphicon-plus': !tab.selected,'glyphicon-minus': tab.selected }"
               tooltip="{{ ( tab.selected ? 'Remove' : 'Add' ) + ' Link' }}"></i>
            <i class="glyphicon glyphicon-remove" tooltip="Close Tab"
               ng-click="closeTab(tab.tab_id,$event);"></i>
          </div>
          <span class="link-title">#{{ tab.index }} - {{ tab.title }}</span><br />
          <span class="link-url">{{ tab.url }}</span>

        </accordion-heading>
      </accordion-group>
    </div>
  </accordion>
</div>
