.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
    width:  400px;
    height: 800px;
}

.link-title {
    font-weight: 700;
    font-size: 0.9em;
}

.link-url {
    font-weight: 300;
    font-size: 0.7em;
}

.glyphicon-remove {
    color: red;
    float: right;
}

#control {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin: auto;
}