.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
    width:  400px;
    height: 800px;
}

.link-title {
    font-weight: 700;
    font-size: 0.9em;
}

.link-url {
    font-weight: 300;
    font-size: 0.7em;
}

.glyphicon-remove {
    color: dimgrey;
}

.glyphicon-plus {
    color: green;
}

.glyphicon-minus {
    color: red;
}

.changed {
    border-color: black;
    border-radius: 8px;
}

.tab-controls {
    float: right;
}
